body {
    margin-top: 10;
    padding: 0;

     /*использование flexxbox для центрирования сайта*/
    display: flex; /*стекаем элементы по вертикали*/
    flex-direction: column; /*выравниваем по вертикали*/
    justify-content: center; /* Выравниваем по центру сайта */
    align-items: center; /* Выравниваем по горизонтали */
    height: 1000vh; /*установка высоты страницы на всю высоту экрана*/

    background-image: url(fon2.jpg);
    background-repeat: no-repeat;  /*без повторения картинки*/
    background-size: cover; /*размер картинки*/
    background-position: 50%; /*положение картинки*/
}

.content-box {
    font-family: OCR A Std, monospace;
    font-size: 20px; /*размер шрифта*/
    margin-bottom: 10px; /*отступ между блоками*/
}

.my {
    color: rgb(145, 189, 248);
    text-decoration: none; /*удаление подчеркивания*/
    animation: color-change 9s infinite;  /*анимация смены цвета*/
    text-shadow: /*добавление тени*/
        -1px 0 #41a5d3, /* Слева */
        1px 0 #4a86be, /* Справа */
        0 -1px #57cbee, /* Сверху */
        0 1px #206779, /* Снизу */
        0 0 10px #528cbb, /* Свечение */
        0 0 20px #0586ff;
}

@keyframes color-change {
    0% { color: rgb(101, 194, 245); }
    50% { color: rgb(105, 170, 255); }
    100% { color: rgb(101, 194, 231); }
}

 /*блок кнопок*/
.feature {
    display: flex; /*выравниваем кнопки в ряд*/
    justify-content: center; /*выравниваем кнопки по центру*/
}

.button {
    margin: 0 120px; /*отступы между кнопками*/
    background-color: lightsteelblue; /*цвет фона кнопки*/
    border-radius: 12% 3px; /*Скругление углов кнопки*/
    color: black; 
    padding: 10px 14px; /*отступы края текста от кнопки*/
    font-size: 22px; /*размер*/
    font-weight: bold;  /*жирность текста*/
    text-decoration: none; /*удаление подчеркивания*/
    transition: background-color 0.5s;  /*плавный переход цвета при наведении*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button:hover {
    background-color: rgb(111, 231, 247);  /*цвет фона при наведении*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);  /*тень при наведении*/
    transition: box-shadow 0.1s; /*плавный переход тени*/
}

/* Адаптация для мобильных устройств */
@media screen and (max-width: 768px) {
    .content-box {
        font-size: 18px;
    }
    .button {
        font-size: 18px;
        padding: 8px 12px;
    }
}
