body {
    margin: 0;
    padding: 0;

    display: grid;
    place-items: center; /*центрирование по горизонтали и вертикали*/
    height: 162vh; /*сдвиг вниз + масштабирование самого сайта*/

    background-image: url(/dzall/dz1/fon5.jpeg);
    background-repeat: no-repeat;  /*без повторения картинки*/
    background-size: cover; /*размер картинки*/
    background-position: 50%; /*положение картинки*/
}

.button {
    background-color: lightsteelblue; /*цвет фона кнопки*/
    border-radius: 12% 3px; /*Скругление углов кнопки*/
    color: black;
    padding: 10px 14px; /*отступы края текста от кнопки*/
    font-size: 22px; /*размер*/
    font-weight: bold;  /*жирность текста*/
    text-decoration: none; /*удаление подчеркивания*/
    transition: background-color 0.5s;  /*плавный переход цвета при наведении*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button:hover {
    background-color: rgb(111, 231, 247);  /*цвет фона при наведении*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);  /*тень при наведении*/
    transition: box-shadow 0.1s; /*плавный переход тени*/
}

.ramka {
    background: rgba(118, 114, 114, 0.133);/*цвет и прозрасность рамки*/
}

.text {
    color: rgb(0, 173, 159);
}

.neon1 {
    padding-left: 150px;
}

a {
    text-decoration: none;
}

.num5 {
    background-image: url(/dzall/dz1/fon5.jpeg);
    background-repeat: no-repeat;  /*без повторения картинки*/
    background-size: cover; /*размер картинки*/
    background-position: 50%; /*положение картинки*/
}

.num6 {
    background-image: url(/dzall/dz1/fon5.jpeg);
    background-repeat: no-repeat;  /*без повторения картинки*/
    background-size: cover; /*размер картинки*/
    background-position: 50%; /*положение картинки*/
}

@media screen and (max-width: 768px) {
    body {
    height: 122vh; /*сдвиг вниз + масштабирование самого сайта*/
    transform: scale(0.67); /*уменьшает размер страницы*/
    transform-origin: 0 0; /*устанавливает точку начала масштабирования*/
    width: 150%; /*сохраняет ширину страницы*/
    
    justify-content: center; /* Выравниваем по центру сайта */
    /* overflow-x: hidden; /*скрывает содержимое, которое выходит за пределы сайта по горизонтали */
    /* overflow-y: hidden; /*по вертикали*/
    background-attachment: local; /*фиксирует фоновое изображение сайта*/
   }
}