body {
    margin: 0;
    padding: 0;

    display: grid;
    place-items: center; /*центрирование по горизонтали и вертикали*/
    height: 100vh; /*сдвиг вниз + масштабирование самого сайта*/

    background-color: rgb(95, 158, 160);
    background-repeat: no-repeat;  /*без повторения картинки*/
    background-size: 2000px 1000px; /*размер картинки*/
}

.button {
    margin: 20px; /*отступы между кнопками*/
    background-color: lightsteelblue; /*цвет фона кнопки*/
    border-radius: 12% 3px; /*Скругление углов кнопки*/
    color: black; 
    padding: 10px 14px; /*отступы края текста от кнопки*/
    font-size: 22px; /*размер*/
    font-weight: bold;  /*жирность текста*/
    text-decoration: none; /*удаление подчеркивания*/
    transition: background-color 0.5s;  /*плавный переход цвета при наведении*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button:hover {
    background-color: rgb(111, 231, 247);  /*цвет фона при наведении*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);  /*тень при наведении*/
    transition: box-shadow 0.1s; /*плавный переход тени*/
}

.i{
    text-align: center;
    font-size: 60px;
    color: rgb(233, 150, 122);
    text-shadow: 3px -4px 3px rgb(52, 52, 52);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.t1{
    font-size: 20px;
    margin-top: 5px;
    color: rgba(3, 0, 6, 0.881);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.t2{
    font-size: 25px;
    width: 95%;
    text-align: center;
    margin-top: 5px;
    color: rgba(3, 0, 6, 0.881);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.b{
    text-align: center;
    font-size: 60px;
    color: rgb(233, 150, 122);
    text-shadow: 3px -4px 3px rgb(52, 52, 52);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.t3{
    font-size: 25px;
    width: 95%;
    text-align: center;
    margin-top: 5px;
    color: rgb(44, 31, 50);
    font-family:monospace;
}

.audio-wrapper {
    width: 320px;
    background: #222;
    color: #fff;
    border-radius: 15px;
    padding: 15px 20px;
    box-shadow: 0px 0px 60px rgba(184, 6, 149, 0.871);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10%;
    text-align: center;
  }
  
  .audio-wrapper figcaption {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.3em;
  }

@media screen and (max-width: 768px) {
    body {
    height: 100vh; /*сдвиг вниз + масштабирование самого сайта*/
    transform: scale(0.5); /*уменьшает размер страницы*/
    transform-origin: 0 0; /*устанавливает точку начала масштабирования*/
    width: 200%; /*сохраняет ширину страницы*/
    justify-content: center; /* Выравниваем по центру сайта */
    /* overflow-x: hidden; /*скрывает содержимое, которое выходит за пределы сайта по горизонтали */
    /* overflow-y: hidden; /*по вертикали*/
    background-attachment: local; /*фиксирует фоновое изображение сайта*/
   }

   .audio-wrapper {
    width: 320px;
    background: #222;
    color: #fff;
    border-radius: 15px;
    padding: 35px 50px;
    box-shadow: 0px 0px 60px rgba(184, 6, 149, 0.871);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20%;
    text-align: center;
  }
  
  audio {
   width: 100%;
   height: 100px;
  }

  .audio-wrapper figcaption {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.3em;
  }

}