body {
    margin: 0;
    padding: 0;

    display: grid;
    place-items: center; /*центрирование по горизонтали и вертикали*/
    height: 100vh; /*сдвиг вниз + масштабирование самого сайта*/

    background-image: url(fondz9.jpeg);
    background-repeat: no-repeat;  /*без повторения картинки*/
    background-size: 2000px 1000px; /*размер картинки*/
}

.button {
    margin: 20px; /*отступы между кнопками*/
    background-color: lightsteelblue; /*цвет фона кнопки*/
    border-radius: 12% 3px; /*Скругление углов кнопки*/
    color: black; 
    padding: 10px 14px; /*отступы края текста от кнопки*/
    font-size: 22px; /*размер*/
    font-weight: bold;  /*жирность текста*/
    text-decoration: none; /*удаление подчеркивания*/
    transition: background-color 0.5s;  /*плавный переход цвета при наведении*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.button:hover {
    background-color: rgb(111, 231, 247);  /*цвет фона при наведении*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);  /*тень при наведении*/
    transition: box-shadow 0.1s; /*плавный переход тени*/
}

button {
    text-decoration: none;
  display: inline-block;
  padding: 20px 30px;
  margin: 10px 20px;
  position: relative;
  color: white;
  border: 1px solid rgba(255, 255, 255, .4);
  background: none;
  font-weight: 300;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}

button:before, button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
button:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}
button:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}
button:hover:before, 
button:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}
button:hover:before {
  transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}
button:hover:after {
  transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}
button:hover {
  background: rgba(255, 255, 255, .2);
}

/* Родительский элемент ссылки должен быть position: relative */
[data-tooltip] {
  position: relative; /* Чтобы ::after позиционировался относительно ссылки */
  cursor: pointer;    /* Курсор при наведении */
}

/* Стили для подсказки */
[data-tooltip]::after {
  content: attr(data-tooltip); /* Текст подсказки из атрибута */
  position: absolute;
  bottom: -50%; /* Расположить подсказку чуть выше ссылки */
  left: 180%;    /* Центрируем по горизонтали */
  transform: translateX(-50%);
  
  background-color: rgba(122, 176, 178, 0.328);
  color: rgba(255, 156, 70, 0.95);
  padding: 5px 10px;
  border-radius: 5px;
  white-space: nowrap; /* Запрет переноса */
  
  visibility: hidden; /* Скрываем по умолчанию */
  opacity: 0;
  transition: opacity 0.3s ease;
  
  pointer-events: none; /* Чтобы подсказка не мешала наведению */
  font-style: italic;
  font-size: 20px;
  z-index: 10;
}

/* Стрелочка подсказки */
[data-tooltip]::before {
  content: "";
  position: absolute;
  bottom: 115%; /* чуть ниже подсказки */
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: rgba(221, 112, 87, 0.85) transparent transparent transparent;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 10;
}

/* Показываем подсказку и стрелочку при наведении */
[data-tooltip]:hover::after,
[data-tooltip]:hover::before {
  visibility: visible;
  opacity: 1;
}

button:hover {
    background-color: rgba(192, 95, 240, 0.223);  /*цвет фона при наведении*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);  /*тень при наведении*/
    transition: box-shadow 0.1s; /*плавный переход тени*/
    transition: 0.4s ease-in-out;
    color: #c97c09;
}

button:hover {
  box-shadow: 0 0 10px 0 #f137a7da inset, 0 0 10px 3px #37aaf1;
  color: #46a9f9;
}

.feature {
    margin-bottom: 10%;
    max-width: 5%;
}

@media screen and (max-width: 768px) {
    body {
    height: 100vh; /*сдвиг вниз + масштабирование самого сайта*/
    transform: scale(0.67); /*уменьшает размер страницы*/
    transform-origin: 0 0; /*устанавливает точку начала масштабирования*/
    width: 150%; /*сохраняет ширину страницы*/
    justify-content: center; /* Выравниваем по центру сайта */
    /* overflow-x: hidden; /*скрывает содержимое, которое выходит за пределы сайта по горизонтали */
    /* overflow-y: hidden; /*по вертикали*/
    background-attachment: local; /*фиксирует фоновое изображение сайта*/
   }

button {
    font-size: 20px;
    padding: 10px 24px;
    margin: 25px -15px;
}

button::after {
    content: attr(data-tooltip); /* Содержимое берётся из атрибута data-tooltip */
    position: absolute;
    bottom: 36%; /* Расположить подсказку над кнопкой */
    left: 30%;
    transform: translateX(-50%);
}
}